@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "La Belle Aurore";
    src: url("./assets/fonts/LaBelleAurore-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Josefin";
    src: url("./assets/fonts/JosefinSans.ttf") format("truetype");
}

@font-face{
    font-family: 'Inter';
    src: url("./assets/fonts/Inter.ttf") format("truetype");
}

@font-face {
    font-family: 'Inter-Light';
    font-weight: lighter;
    src: url("./assets/fonts/Inter-Light.ttf") format("truetype");
}

@font-face {
    font-family: 'Mandali';
    src: url("./assets/fonts/Mandali-Regular.ttf") format("truetype");
}

.font-laBelle {
    font-family: "La Belle Aurore";
}

.font-inter {
    font-family: 'Inter';
}

.font-inter-light {
    font-family: 'Inter-Light';
}

.font-josefin {
    font-family: "Josefin";
}

.font-mandali {
    font-family: "Mandali";
}