@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "La Belle Aurore";
    src: url("./assets/fonts/LaBelleAurore-Regular.ttf") format("truetype");
}

.font-laBelle {
    font-family: "La Belle Aurore";
}